.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
.pyc
.env
logs
tmp

# Unit test / coverage reports
tests/__pycache__
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
codecov
